@model MovConWeb.Models.MovimentacaoViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "MovCon - Movimentações - Consulta";
}

<div class="areaMaxGrd">
    <div class="txtPadraoGrd">
        <i class="iconeMed fas fa-arrow-right-arrow-left"></i>&nbsp;
        <a class="txtPadraoGrd" asp-controller="Movimentacoes" asp-action="Index">Movimentações</a> &nbsp;/&nbsp; Consulta
    </div>
    <br>
    <form asp-controller="Movimentacoes" asp-action="Search" asp-anti-forgery method="post">
        @Html.AntiForgeryToken()

        <div class="form-row">
            <div class="col-5">
                <div class="form-group">
                    <label asp-for="@Model.Filter.Numero" class="txtEtiqueta">Número do Contêiner</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popNumero">
                        <i class="iconePopOpc fas fa-question"></i>
                    </a>
                    <div id="popNumero" class="popMsg">
                        &bull; Campo <span class="corOpcional"><b>opicional</b></span><br>
                        &bull; Tamanho máximo: <b>11</b> caracteres<br>
                        &bull; Formato: <b>ABCD1234567</b> (4 letras + 7 números)<br>
                    </div>
                    <input class="form-control" type="text" maxlength="11" asp-for="@Model.Filter.Numero">
                </div>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-5">
                <div class="form-group">
                    <label class="txtEtiqueta" asp-for="@Model.Filter.Tipo">Tipo de Movimentação</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popTipo">
                        <i class="iconePopOpc fas fa-question"></i>
                    </a>
                    <div id="popTipo" class="popMsg">
                        &bull; Campo <span class="corOpcional"><b>opicional</b></span><br>
                    </div>
                    @Html.DropDownList("DdlTipo", ViewData["DdlTipo"] as SelectList, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <br>
        <div class="form-row">
            <div class="col-10">
                <button class="btn btn-lg mr-2 btn-warning"><i class="fas fa-search"></i> &nbsp;Consultar</button>
                <a class="btn btn-secondary btn-lg m-2" asp-controller="Movimentacoes" asp-action="Index">
                    <i class="fas fa-arrow-circle-left"></i>
                    &nbsp;Voltar
                </a>
            </div>
            <div class="col-2 text-right">
                @if (Model != null) {
                    @if (Model.IsError || !Model.IsValid) {
                        <a href="javascript:VerMensagens();"><i class="iconeMsg fas fa-exclamation-circle"></i></a>
                    }
                }
            </div>
        </div>
    </form>
</div>

@if ((Model != null) && (Model.Message != null)) {
    <div class="text-danger">
        @section Messages {
            <ul>
                <li class="p-2">@Model.Message</li>
            </ul>
        }
    </div>

    @section Scripts {
        <script>
            $('#modalMessages').modal('show');
        </script>
    }
}
