@model MovConWeb.Models.MovimentacaoViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "MovCon - Movimentações - Cadastro";

    ViewData["Action"] = "Iniciar";
    ViewData["PageName"] = "Início";
    ViewData["Finalizado"] = "N";

    if ((Model != null) && ((Model.Item != null))) {
        if (Model.Item.Id > 0) {
            ViewData["Action"] = "Finalizar";
            ViewData["PageName"] = "Fim";
        }
    }
}

<div class="areaMaxGrd">
    <div class="txtPadraoGrd">
        <i class="iconeMed fas fa-arrow-right-arrow-left"></i>&nbsp;
        <a class="txtPadraoGrd" asp-controller="Movimentacoes" asp-action="Index">Movimentações</a> &nbsp;/&nbsp; @ViewData["PageName"]
    </div>
    <br>
    <form asp-controller="Movimentacoes" asp-action='@ViewData["Action"]' asp-anti-forgery method="POST">
        @Html.AntiForgeryToken()

        <div class="form-row">
            <div class="col-5">
                <div class="form-group">
                    <label asp-for="@Model.Item.Id" class="txtEtiqueta">Id</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popId">
                        <i class="iconePopInf fas fa-info-circle"></i>
                    </a>
                    <div id="popId" class="popMsg">
                        &bull; Campo <span class="text-success"><b>informativo</b></span><br>
                        &bull; Apenas leitura<br>
                    </div>
                    @if ((Model != null) && (Model.Item != null)) {
                        <input class="form-control" type="text" asp-for="@Model.Item.Id" value="@Model.Item.Id" readonly />
                    } else {
                        <input class="form-control" type="text" asp-for="@Model.Item.Id" readonly />
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-5">
                <div class="form-group">
                    <label asp-for="@Model.Item.Numero" class="txtEtiqueta">Número</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popNumero">
                        <i class="iconePopObr fas fa-asterisk"></i>
                    </a>
                    <div id="popNumero" class="popMsg">
                        &bull; Campo <span class="text-danger"><b>obrigatório</b></span><br>
                        &bull; Tamanho máximo: <b>11</b> caracteres<br>
                        &bull; Formato: <b>ABCD1234567</b> (4 letras + 7 números)<br>
                    </div>
                    @if (ViewData["Action"].ToString() == "Iniciar") {
                        <input class="form-control" type="text" maxlength="11" asp-for="@Model.Item.Numero" style="text-transform:uppercase;" />
                    } else if (ViewData["Action"].ToString() == "Finalizar") {
                        <input class="form-control" type="text" maxlength="11" asp-for="@Model.Item.Numero" readonly />
                    }
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <div class="form-group">
                    <label class="txtEtiqueta" asp-for="@Model.Item.Tipo">Tipo</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popTipo">
                        <i class="iconePopObr fas fa-asterisk"></i>
                    </a>
                    <div id="popTipo" class="popMsg">
                        &bull; Campo <span class="text-danger"><b>obrigatório</b></span><br>
                    </div>
                    @if (ViewData["Action"].ToString() == "Iniciar") {
                        @Html.DropDownList("DdlTipo", ViewData["DdlTipo"] as SelectList, new { @class = "form-control" })
                    } else if (ViewData["Action"].ToString() == "Finalizar") {
                        @Html.DropDownList("DdlTipo", ViewData["DdlTipo"] as SelectList, new {
                            @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-5">
                <div class="form-group">
                    <label asp-for="@Model.Item.DataHoraInicio" class="txtEtiqueta">Data/Hora Início</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popId">
                        <i class="iconePopInf fas fa-info-circle"></i>
                    </a>
                    <div id="popId" class="popMsg">
                        &bull; Campo <span class="text-success"><b>informativo</b></span><br>
                        &bull; Apenas leitura<br>
                    </div>
                    @if ((Model != null) && (Model.Item != null)) {
                        <input class="form-control" type="text" asp-for="@Model.Item.DataHoraInicio" value="@Model.Item.DataHoraInicioFormatado" readonly />
                    } else {
                        <input class="form-control" type="text" asp-for="@Model.Item.DataHoraInicio" readonly />
                    }
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <div class="form-group">
                    <label asp-for="@Model.Item.DataHoraFim" class="txtEtiqueta">Data/Hora Fim</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popId">
                        <i class="iconePopInf fas fa-info-circle"></i>
                    </a>
                    <div id="popId" class="popMsg">
                        &bull; Campo <span class="text-success"><b>informativo</b></span><br>
                        &bull; Apenas leitura<br>
                    </div>
                    @if ((Model != null) && (Model.Item != null)) {
                        <input class="form-control" type="text" asp-for="@Model.Item.DataHoraFim" value="@Model.Item.DataHoraFimFormatado" readonly />
                    } else {
                        <input class="form-control" type="text" asp-for="@Model.Item.DataHoraFim" readonly />
                    }
                </div>
            </div>
        </div>

        <br>
        <div class="form-row">
            <div class="col-10">
                @if (ViewData["Action"].ToString() == "Iniciar") {
                    <button class="btn btn-lg mr-2 btn-success"><i class="fas fa-arrow-turn-up"></i> &nbsp;Iniciar</button>
                } else if ((ViewData["Action"].ToString() == "Finalizar") && (!Model.Item.Finalizado)) {
                    <button class="btn btn-lg mr-2 btn-alternative"><i class="fas fa-arrow-turn-down"></i> &nbsp;Finalizar</button>
                }
                <a class="btn btn-info btn-lg m-2" asp-controller="Movimentacoes" asp-action="Listar">
                    <i class="fas fa-list"></i>
                    &nbsp;Lista
                </a>
                <a class="btn btn-secondary btn-lg m-2" asp-controller="Movimentacoes" asp-action="Index">
                    <i class="fas fa-arrow-circle-left"></i>
                    &nbsp;Voltar
                </a>
            </div>
            <div class="col-2 text-right">
                @if (Model != null) {
                    @if (Model.IsError || !Model.IsValid) {
                        <a href="javascript:VerMensagens();"><i class="iconeMsg fas fa-exclamation-circle"></i></a>
                    }
                }
            </div>
        </div>
    </form>
</div>

@if ((Model != null) && (Model.Message != null)) {
    <div class="text-danger">
        @section Messages {
            <ul>
                <li class="p-2">@Model.Message</li>
            </ul>
        }
    </div>

    @section Scripts {
        <script>
            $('#modalMessages').modal('show');
        </script>
    }
}
