@model MovConWeb.Models.MovimentacaoViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "MovCon - Movimentações - Lista";
}
<div class="areaMaxGrd">
    <div class="txtPadraoGrd">
        <i class="iconeMed fas fa-arrow-right-arrow-left"></i>&nbsp;
        <a class="txtPadraoGrd" asp-controller="Movimentacoes" asp-action="Index">Movimentações</a> &nbsp;/&nbsp; Lista
    </div>
    <br>
    <form id="form" asp-controller="Movimentacoes" asp-action="Pesquisar" asp-anti-forgery method="Post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="@Model.Filter.Id" />
        <input type="hidden" asp-for="@Model.Filter.Numero" />
        <input type="hidden" asp-for="@Model.Filter.Tipo" />
        <input type="hidden" asp-for="@Model.Filter.DataHoraInicio" />
        <input type="hidden" asp-for="@Model.Filter.DataHoraFim" />
        @Html.Hidden("DdlTipo")
        @Html.Hidden("rdbPendente")
        @if (Model != null) {
            <input type="hidden" asp-for="@Model.SortField" value="@Model.SortField" />
            <input type="hidden" asp-for="@Model.SortDirection" value="@Model.SortDirection" />
            <input type="hidden" asp-for="@Model.SortSelected" value="@Model.SortSelected" />
        }
        <table class="table border-bottom">
            <thead class="thead-dark">
                <tr class="row tabLinha">
                    <th class="tabRelCenter" style="width: 5%"><a class="txtPadrao" href="javascript:toSort('id', 'SortSelected')">ID</a></th>
                    <th class="tabRelCenter" style="width: 15%"><a class="txtPadrao" href="javascript:toSort('numero', 'SortSelected')">Número</a></th>
                    <th class="tabRelCenter" style="width: 13%"><a class="txtPadrao" href="javascript:toSort('tipo', 'SortSelected')">Tipo Movimentação</a></th>
                    <th class="tabRelCenter" style="width: 12%"><a class="txtPadrao" href="javascript:toSort('tipocon', 'SortSelected')">Tipo Contêiner</a></th>
                    <th class="tabRelCenter" style="width: 8%"><a class="txtPadrao" href="javascript:toSort('status', 'SortSelected')">Status</a></th>
                    <th class="tabRelCenter" style="width: 12%"><a class="txtPadrao" href="javascript:toSort('categoria', 'SortSelected')">Categoria</a></th>
                    <th class="tabRelCenter" style="width: 11%"><a class="txtPadrao" href="javascript:toSort('inicio', 'SortSelected')">Início</a></th>
                    <th class="tabRelCenter" style="width: 11%"><a class="txtPadrao" href="javascript:toSort('fim', 'SortSelected')">Fim</a></th>
                    <th class="tabRelCenter" style="width: 13%"></th>
                </tr>
            </thead>
            <tbody>
                @if ((Model != null) && (Model.List != null) && (Model.List.Count > 0)) {
                    @foreach (var item in Model.List) {
                <tr class="row tabLinha">
                    <td class="tabRelCenter" style="width: 5%"><a class="txtPadrao" asp-controller="Movimentacoes" asp-action="Obter" asp-route-id="@item.Id">@item.Id</a></td>
                    <td class="tabRelCenter" style="width: 15%"><a class="txtPadrao" asp-controller="Movimentacoes" asp-action="Obter" asp-route-id="@item.Id">@item.Numero</a></td>
                    <td class="tabRelCenter" style="width: 13%"><a class="txtPadrao" asp-controller="Movimentacoes" asp-action="Obter" asp-route-id="@item.Id">@item.TipoFormatado</a></td>
                    <td class="tabRelCenter" style="width: 12%"><a class="txtPadrao" asp-controller="Movimentacoes" asp-action="Obter" asp-route-id="@item.Id">@item.TipoConteinerFormatado</a></td>
                    <td class="tabRelCenter" style="width: 8%"><a class="txtPadrao" asp-controller="Movimentacoes" asp-action="Obter" asp-route-id="@item.Id">@item.StatusFormatado</a></td>
                    <td class="tabRelCenter" style="width: 12%"><a class="txtPadrao" asp-controller="Movimentacoes" asp-action="Obter" asp-route-id="@item.Id">@item.CategoriaFormatado</a></td>
                    <td class="tabRelCenter" style="width: 11%"><a class="txtPadrao" asp-controller="Movimentacoes" asp-action="Obter" asp-route-id="@item.Id">@item.DataHoraInicioFormatado</a></td>
                    <td class="tabRelCenter" style="width: 11%"><a class="txtPadrao" asp-controller="Movimentacoes" asp-action="Obter" asp-route-id="@item.Id">@item.DataHoraFimFormatado</a></td>
                    <td class="tabRelCenter" style="width: 13%">
                        <a class="btn btn-primary" asp-controller="Movimentacoes" asp-action="Obter" asp-route-id="@item.Id">
                            <i class="fas fa-search-plus"></i>
                            &nbsp;Detalhe
                        </a>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
        <br>
        <div class="form-row">
            <div class="col-12 txtPadrao">
                <a class="btn btn-outline-success btn-lg m-2" asp-controller="Movimentacoes" asp-action="Form">
                    <i class="fas fa-arrow-turn-up"></i>
                    &nbsp;Início
                </a>
                <button class="btn btn-lg m-2 btn-outline-warning" onclick="javascript:toRedirect('Movimentacoes', 'Filtrar');"><i class="fas fa-search"></i> &nbsp;Pesquisa</button>
                <a class="btn btn-secondary btn-lg m-2" asp-controller="Movimentacoes" asp-action="Index">
                    <i class="fas fa-arrow-circle-left"></i>
                    &nbsp;Menu
                </a>
            </div>
        </div>
    </form>
</div>

@if ((Model != null) && (Model.Message != null)) {
    <div class="text-danger">
        @section Messages {
            <ul>
                <li class="p-2">@Model.Message</li>
            </ul>
        }
    </div>

    @section Scripts {
        <script>
            $('#modalMessages').modal('show');
        </script>
    }
}
