@model MovConWeb.Models.ConteinerViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "MovCon - Contêineres - Pesquisa";
}

<div class="areaMaxGrd">
    <div class="txtPadraoGrd">
        <i class="iconeMed fas fa-box"></i>&nbsp;
        <a class="txtPadraoGrd" asp-controller="Conteineres" asp-action="Index">Contêineres</a> &nbsp;/&nbsp; Pesquisa
    </div>
    <br>
    <form asp-controller="Conteineres" asp-action="Pesquisar" asp-anti-forgery method="post">
        @Html.AntiForgeryToken()

        <div class="form-row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="@Model.Filter.Cliente" class="txtEtiqueta">Cliente</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popCliente">
                        <i class="iconePopOpc fas fa-question"></i>
                    </a>
                    <div id="popCliente" class="popMsg">
                        &bull; Campo <span class="corOpcional"><b>opicional</b></span><br>
                        &bull; Tamanho máximo: <b>50</b> caracteres<br>
                    </div>
                    <input class="form-control" type="text" maxlength="50" asp-for="@Model.Filter.Cliente" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-5">
                <div class="form-group">
                    <label asp-for="@Model.Filter.Numero" class="txtEtiqueta">Número</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popNumero">
                        <i class="iconePopOpc fas fa-question"></i>
                    </a>
                    <div id="popNumero" class="popMsg">
                        &bull; Campo <span class="corOpcional"><b>opicional</b></span><br>
                        &bull; Tamanho máximo: <b>11</b> caracteres<br>
                        &bull; Formato: <b>ABCD1234567</b> (4 letras + 7 números)<br>
                    </div>
                    <input class="form-control" type="text" maxlength="11" asp-for="@Model.Filter.Numero" style="text-transform:uppercase;" />
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <div class="form-group">
                    <label class="txtEtiqueta" asp-for="@Model.Filter.Tipo">Tipo</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popTipo">
                        <i class="iconePopOpc fas fa-question"></i>
                    </a>
                    <div id="popTipo" class="popMsg">
                        &bull; Campo <span class="corOpcional"><b>opicional</b></span><br>
                    </div>
                    @Html.DropDownList("DdlTipo", ViewData["DdlTipo"] as SelectList, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-5">
                <div class="form-group">
                    <label class="txtEtiqueta" asp-for="@Model.Filter.Status">Status</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popStatus">
                        <i class="iconePopOpc fas fa-question"></i>
                    </a>
                    <div id="popStatus" class="popMsg">
                        &bull; Campo <span class="corOpcional"><b>opicional</b></span><br>
                    </div>
                    @Html.DropDownList("DdlStatus", ViewData["DdlStatus"] as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <div class="form-group">
                    <label class="txtEtiqueta" asp-for="@Model.Filter.Categoria">Categoria</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popCategoria">
                        <i class="iconePopOpc fas fa-question"></i>
                    </a>
                    <div id="popCategoria" class="popMsg">
                        &bull; Campo <span class="corOpcional"><b>opicional</b></span><br>
                    </div>
                    @Html.DropDownList("DdlCategoria", ViewData["DdlCategoria"] as SelectList, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-11 txtPadrao">
                <button class="btn btn-lg m-2 btn-warning"><i class="fas fa-search"></i> &nbsp;Pesquisar</button>
                <a class="btn btn-outline-success btn-lg m-2" asp-controller="Conteineres" asp-action="Form">
                    <i class="fas fa-save"></i>
                    &nbsp;Inclusão
                </a>
                <a class="btn btn-outline-primary btn-lg m-2" asp-controller="Conteineres" asp-action="Listar">
                    <i class="fas fa-list"></i>
                    &nbsp;Lista
                </a>
                <a class="btn btn-secondary btn-lg m-2" asp-controller="Conteineres" asp-action="Index">
                    <i class="fas fa-arrow-circle-left"></i>
                    &nbsp;Menu
                </a>
            </div>
            <div class="col-1 text-right">
                @if (Model != null)
                {
                    @if (Model.IsError || !Model.IsValid)
                    {
                        <a href="javascript:VerMensagens();"><i class="iconeMsg fas fa-exclamation-circle"></i></a>
                    }
                }
            </div>
        </div>
    </form>
</div>

@if ((Model != null) && (Model.Message != null))
{
    <div class="text-danger">
        @section Messages {
            <ul>
                <li class="p-2">@Model.Message</li>
            </ul>
        }
    </div>

    @section Scripts {
        <script>
            $('#modalMessages').modal('show');
        </script>
    }
}
