@model MovConWeb.Models.ConteinerViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "MovCon - Contêineres - Cadastro";

    ViewData["Action"] = "Incluir";
    ViewData["PageName"] = "Cadastro";

    if ((Model != null) && ((Model.Item != null)))
    {
        if (Model.Item.Id > 0)
        {
            ViewData["Action"] = "Alterar";
            ViewData["PageName"] = "Detalhe";
        }
    }
}

<div class="areaMaxGrd">
    <div class="txtPadraoGrd">
        <i class="iconeMed fas fa-box"></i>&nbsp;
        <a class="txtPadraoGrd" asp-controller="Conteineres" asp-action="Index">Contêineres</a> &nbsp;/&nbsp; @ViewData["PageName"]
    </div>
    <br>
    <form asp-controller="Conteineres" asp-action='@ViewData["Action"]' asp-anti-forgery method="POST">
        @Html.AntiForgeryToken()

        <div class="form-row">
            <div class="col-5">
                <div class="form-group">
                    <label asp-for="@Model.Item.Id" class="txtEtiqueta">Id</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popId">
                        <i class="iconePopInf fas fa-info-circle"></i>
                    </a>
                    <div id="popId" class="popMsg">
                        &bull; Campo <span class="text-success"><b>informativo</b></span><br>
                        &bull; Apenas leitura<br>
                    </div>
                    @if ((Model != null) && (Model.Item != null))
                    {
                        <input class="form-control" type="text" asp-for="@Model.Item.Id" value="@Model.Item.Id" readonly />
                    }
                    else
                    {
                        <input class="form-control" type="text" asp-for="@Model.Item.Id" readonly />
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="@Model.Item.Cliente" class="txtEtiqueta">Cliente</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popCliente">
                        <i class="iconePopObr fas fa-asterisk"></i>
                    </a>
                    <div id="popCliente" class="popMsg">
                        &bull; Campo <span class="text-danger"><b>obrigatório</b></span><br>
                        &bull; Tamanho máximo: <b>50</b> caracteres<br>
                    </div>
                    <input class="form-control" type="text" maxlength="50" asp-for="@Model.Item.Cliente" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-5">
                <div class="form-group">
                    <label asp-for="@Model.Item.Numero" class="txtEtiqueta">Número</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popNumero">
                        <i class="iconePopObr fas fa-asterisk"></i>
                    </a>
                    <div id="popNumero" class="popMsg">
                        &bull; Campo <span class="text-danger"><b>obrigatório</b></span><br>
                        &bull; Tamanho máximo: <b>11</b> caracteres<br>
                        &bull; Formato: <b>ABCD1234567</b> (4 letras + 7 números)<br>
                    </div>
                    <input class="form-control" type="text" maxlength="11" asp-for="@Model.Item.Numero" style="text-transform:uppercase;" />
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <div class="form-group">
                    <label class="txtEtiqueta" asp-for="@Model.Item.Tipo">Tipo</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popTipo">
                        <i class="iconePopObr fas fa-asterisk"></i>
                    </a>
                    <div id="popTipo" class="popMsg">
                        &bull; Campo <span class="text-danger"><b>obrigatório</b></span><br>
                    </div>
                    @Html.DropDownList("DdlTipo", ViewData["DdlTipo"] as SelectList, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-5">
                <div class="form-group">
                    <label class="txtEtiqueta" asp-for="@Model.Item.Status">Status</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popStatus">
                        <i class="iconePopObr fas fa-asterisk"></i>
                    </a>
                    <div id="popStatus" class="popMsg">
                        &bull; Campo <span class="text-danger"><b>obrigatório</b></span><br>
                    </div>
                    @Html.DropDownList("DdlStatus", ViewData["DdlStatus"] as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <div class="form-group">
                    <label class="txtEtiqueta" asp-for="@Model.Item.Categoria">Categoria</label> &nbsp;
                    <a data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                       data-object-content="#popCategoria">
                        <i class="iconePopObr fas fa-asterisk"></i>
                    </a>
                    <div id="popCategoria" class="popMsg">
                        &bull; Campo <span class="text-danger"><b>obrigatório</b></span><br>
                    </div>
                    @Html.DropDownList("DdlCategoria", ViewData["DdlCategoria"] as SelectList, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <br>
        <div class="form-row">
            <div class="col-10">
                @if (ViewData["Action"].ToString() == "Incluir")
                {
                    <button class="btn btn-lg mr-2 btn-success"><i class="fas fa-save"></i> &nbsp;Incluir</button>
                }
                else if (ViewData["Action"].ToString() == "Alterar")
                {
                    <button class="btn btn-lg mr-2 btn-alternative"><i class="fas fa-sync-alt"></i> &nbsp;Alterar</button>
                    <a class="btn btn-danger btn-lg m-2" asp-controller="Conteineres" asp-action="Excluir" asp-route-id="@Model.Item.Id">
                        <i class="fas fa-trash"></i>
                        &nbsp;Excluir
                    </a>
                }
                <a class="btn btn-info btn-lg m-2" asp-controller="Conteineres" asp-action="Listar">
                    <i class="fas fa-list"></i>
                    &nbsp;Lista
                </a>
                <a class="btn btn-secondary btn-lg m-2" asp-controller="Conteineres" asp-action="Index">
                    <i class="fas fa-arrow-circle-left"></i>
                    &nbsp;Voltar
                </a>
            </div>
            <div class="col-2 text-right">
                @if (Model != null)
                {
                    @if (Model.IsError || !Model.IsValid)
                    {
                        <a href="javascript:VerMensagens();"><i class="iconeMsg fas fa-exclamation-circle"></i></a>
                    }
                }
            </div>
        </div>
    </form>
</div>

@if ((Model != null) && (Model.Message != null))
{
    <div class="text-danger">
        @section Messages {
            <ul>
                <li class="p-2">@Model.Message</li>
            </ul>
        }
    </div>

    @section Scripts {
        <script>
            $('#modalMessages').modal('show');
        </script>
    }
}
